
.menu ul{
  display: flex;  
}
.menu ul li{
    list-style-type: none;
    padding: 0px 10px;
}

.bg-background{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px 10px;
}

.img{
    width: 200px;
    height: 300px;
}

.main{
    border: 3px solid;
}
.main1{
    border: 2px solid;
}
.abc{
    margin-left: 950px;
    display: flex;
    margin-right: 500px;
    
}
.hr{
    color: black;
    padding: 0px;
    size: 30px;
    color: aqua;
    font-weight: 500;
}

.pad-1{
    padding: 10px;
   
}

.web{
    text-align: center;
    color: black;
}

.d{
    color: aqua;
}

.d-flex1{
    display: flex;
}
  
@media (min-width:320px) and (max-width:400px){
    .d-flex1{
        display: block;
    }

    .img{
        width: 100%;
        height: 400px;
    }


.row pad-1{
    margin-left: 20%;
}

















