
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-item{
    font-size:1.2em;
    padding-bottom:15px;
    border-bottom: 1px solid gray;
    padding-top: 0px;
    display:flex;
}

.list-item:hover{
    background-color:lightyellow;
}

.list-item img{
    height:150px;
    color:black;
}

a.list-item{
    color:black;
    text-decoration: none;
}

.list-info{
    margin-left:10px;
    display:flex;
    flex-direction:column;
    padding:0px;
    align-items:flex-start;
    justify-content: flex-start;
    
}

.list-item .title{
    font-size:1.2em;
    
}
.list-item .author{
    font-size:1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer a, .footer a:hover{
    color:white;
    text-decoration:none;

}

.footer a:hover{
    color:lightyellow;
}

.screen{
    /* padding-left:5%; */
    padding-top:10px;
    padding-bottom: 40px;
    margin: auto;
  /* max-width: 1100px; */
  overflow: auto;
  padding: 20px 25px;
}

.book-manage-cover{
    width:200px;
    border:10px solid black;
    padding:5px;
    box-shadow: -5px -5px 5px  gray;
    
}

/* Home Body */
/* Header Body */


.bokname {
    text-align: center;
    margin-top: 40px;
  }
  
  #book-info .book-img {
    text-align: center;
    margin-top: 30px;
  }
  
  .book-content{
    font-family: "Shadows Into Light",cursive;
      text-align: center;
      font-size: 1em;
    text-justify: auto;
     margin-top: 10px;
  }
  
  .authorname{
    font-family: "Allison",cursive;
      font-size: 1em;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
   /* Contact Form */
   /* #contact-form .form-group {
    margin-bottom: 10px;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 15px;
  } */
  
  .btnsub{
    margin: 5px;
    display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  #contact-form input, 
  #contact-form textarea {
    padding: 10px;
    width: 100%;
    border: 1px rgb(163, 159, 159) solid;
    margin-bottom: 20px;
  }
  
  #contact-form textarea {
    height: 100%;
  }
  
  #contact-form input:focus, 
  #contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
  }
  
  .l-heading{
    font-family: "Shadows Into Light",cursive;
      text-shadow: -2px -2px 2px grey;
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  /* Loader */
  /* .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    text-align: center;
    transform: translate(50%, 50%);
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /*Book Grid View*/
  .Wait {
    font-family: "Shadows Into Light",cursive;
    text-shadow: -2px -2px 2px grey;
    font-size: 40px;
    text-align: center;
}
.build-wait{
  font-family: "Shadows Into Light",cursive;
    text-shadow: -2px -2px 2px grey;
    font-size: 20px;
    text-align: center;
}

.book-list{
  font-family: "Shadows Into Light",cursive;
    text-shadow: -2px -2px 2px grey;
    font-size: 40px;
}

.grid-view-container {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.grid-view-item {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: -5px -5px 5px #d3d3d3;
    padding: 0;
    overflow: hidden;
}

.list-item {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.grid-view-item img {
    margin: 0;
    width: 280px;
    height: 380px;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* Login PAge css */
.login-header{
  font-family: "Shadows Into Light",cursive;
  text-shadow: -2px -2px 2px grey;
  font-size: 40px;
}

.login-round{
  float: left;
  border-radius: 50%;
  width:40%;
  border:10px solid black;
  padding:5px;
  box-shadow: -5px -5px 5px  gray;
}

.form-signin{
  float: right;
  width: strech;
  margin-left: 50px;
}

.login-form{
  margin-left: 100px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;

}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.col-sm-10{
  margin-bottom: 20px;
  margin-left: 60px;
}

.btn-reg-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-left: 70px;
}

.btn-login-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-left: 60px;
}

.input-group-text{
    width: 40px;
}

