.bg-light {
   
    background-color: black !important;
}
.navbar-light .navbar-brand {
     color: white !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5) !important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(207, 215, 219) !important;
}
#navbarDropdown{
    color: rgb(207, 215, 219) !important;  
}
.navbar-light .navbar-nav .nav-link a:hover{
    color: rgb(207, 54, 54) !important;
}
#navbarDropdown{
    color: rgb(207, 215, 219) !important;  
}
a.nav-link {
    cursor: pointer !important;
    color: white !important;
}
.navbar-light .navbar-nav .nav-link a:hover {
    color: rgb(68, 157, 202) !important;
}

